<ion-content padding >
  <p translate [translateParams]="{ lang: language }">menu.place</p>
  <ion-card *ngFor="let place of placeList">
    <div (click)="placeDetail(place)"> 
      <ion-card-header>
        <img src="{{place.place_imgs[0]}}" style="height: 30vh;width: 100vh" />
        <ion-card-subtitle style="font-size:15px">{{place.name}}</ion-card-subtitle>
        <ion-card-subtitle style="font-size:15px">{{place.name_en}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content >
        <p style="font-size:15px">วันให้บริการ : {{place.open_detail}}</p>
        <p style="font-size:15px">เวลา : {{place.open_time}}-{{place.close_time}}</p>
      </ion-card-content>
    </div>

  </ion-card>
</ion-content>
