<ion-app>
  <ion-split-pane>
    <!-- <ion-menu side="end">
      <ion-header>
        <ion-toolbar mode="md" class="new-background-color">
      
        </ion-toolbar>
      </ion-header>
      <ion-content>

          <ion-list>
              <ion-item>
                <ion-label>language</ion-label>
                <ion-select placeholder="" (ionChange)="onChangeLang($event)">
                  <ion-select-option  value="th">Thai</ion-select-option>
                  <ion-select-option selected="true" value="en">Eng</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
      </ion-content>
    </ion-menu> -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>