.coverImg{
    height: 30vh;
    width: 100%;
}
ion-content{
    margin: 0;
    padding: 0;
}
.back-btn{
    background-color: gray;
}
.group-btn{
    color: black;
    text-align: center;
}
.button-inner{
    color: black;
}

hr{
    border-bottom: 0.6px solid gray;
}
.time-d-p{
    font-size: 8px;
}
.icon-btn{
    font-size: 32px; 
}
.text-icon{
    font-size: 13px; 
    margin-top: -5px;
}
.img {
    flex:1;height:80px;width:100px;padding: 3px;
}