<ion-content>
  <img class="coverImg" src="{{data.place_imgs[0]}}" (click)="previewImageSlide(0)"/>
  <div style="display: flex;padding:0 0px">
    <img onerror="this.src='assets/img/img-not-found.png'" src="{{data.place_imgs[1]}}" class="img" (click)="previewImageSlide(1)" />
    <img onerror="this.src='assets/img/img-not-found.png'" src="{{data.place_imgs[2]}}" class="img" (click)="previewImageSlide(2)"/>
    <img onerror="this.src='assets/img/img-not-found.png'" src="{{data.place_imgs[3]}}" class="img" (click)="previewImageSlide(3)"/>
  </div>
  {{message}}
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="light" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div style="padding-left: 5px;padding-right: 5px;">
    <div>
      <h5>{{data.name}}</h5>
      <h6>{{data.name_en}}</h6>
    </div>
    <div>
      <!-- BTN -->
      <!-- <ion-row>
        <ion-col style="text-align: center">
          <ion-icon name="pin" class="icon-btn" color="{{check_in_color}}" (click)="checkin(data)"></ion-icon>
          <p class="text-icon">CHECK-IN</p>
        </ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="md-done-all" color="{{been_in_color}}" class="icon-btn"></ion-icon>
          <p class="text-icon">BEEN-IN</p>
        </ion-col>
        <ion-col style="text-align: center">
          <ion-icon name="heart" color="{{favorite_color}}" class="icon-btn" (click)="favorite(data)"></ion-icon>
          <p class="text-icon">FAVORITE</p>
        </ion-col>
      </ion-row> -->
    </div>
    <div>
    <!-- <app-readmore [detail]=data.highlight></app-readmore> -->
      <!-- content -->
      <!-- <ion-label style="text-decoration: underline;"> ข้อมูลเบื้องต้น</ion-label> -->
      <!-- <p style="font-size:16px">{{data.place_descriptions}}</p> -->
      <!-- <p style="font-size:16px">จัดทำโดย {{data.who_owns}}</p> -->
      
      <!-- <ion-label style="text-decoration: underline;"> จุดเด่น</ion-label> -->
      <app-readmore [detail]=data.highlight></app-readmore>

      <ion-label style="text-decoration: underline;">รายละเอียดค่าใช้จ่ายในการเข้าชม</ion-label>
      <p style="font-size: 20px" [innerHTML]="data.price_detail">  
        
      </p>
      <ion-label style="text-decoration: underline;">วันเวลาทำการ</ion-label>
      <p style="font-size: 20px">
        วันให้บริการ : {{data.open_detail}}<br />
        เวลา : {{data.open_time}}-{{data.close_time}}<br />
      </p>
      <ion-label style="text-decoration: underline;">ช่องทางการติดต่อ</ion-label>
      <p style="font-size: 20px">
        ที่อยู่ : {{data.address}}<br />
        เบอร์โทรศัพท์ : {{data.phone}}<br />
        อีเมล : {{data.email}}
      </p>

      <div class="group-btn">
        <ion-button style="width:50vh;color:black" size="small" color="warning" (click)="navigator(data.lat,data.lng)">
          <span style="font-size: 20px">Map</span>
          <ion-icon name="map"></ion-icon>
        </ion-button>
      </div>

    </div>
  </div>

</ion-content>
<style>

</style>