<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-item (click)="your_event()">
    <ion-label>Your Event <ion-badge color="primary">{{event_count}}</ion-badge>
    </ion-label>
  </ion-item>
  <ion-item (click)="your_favorite()">
    <ion-label>Favorite <ion-badge color="primary">{{favorite_count}}</ion-badge>
    </ion-label>
  </ion-item>
  <ion-item (click)="your_check_in()">
    <ion-label>Check in / Been in <ion-badge color="primary">{{checkin_count}}</ion-badge>
    </ion-label>
  </ion-item>
</ion-content>
<style>
  /* p{
  font-size: 8px
} */
</style>